{% extends "base.html" %}
{% load static %}
{% block class %}class="sub_page"{% endblock class %}
{% block BookStatus %}active{% endblock BookStatus %}
{% block main %}
  <!-- book section -->
  <section class="book_section layout_padding">
    <div class="container">
      <div class="heading_container "  style="color: aliceblue;">
        <h2>
          Book A Table
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <form action="">
              <div >
                <input type="text" class="form-control" placeholder="Your Name" />
              </div>
              <div>
                <input type="text" class="form-control" placeholder="Phone Number" />
              </div>
              <div>
                <input type="email" class="form-control" placeholder="Your Email" />
              </div>
              <div>
                
                  <input class="form-control nice-select wide" type="number" max="10" placeholder="Total Guest (Maximun 10 Guest)">
                
              </div>
              <div>
                <input type="date" class="form-control">
              </div>
              <div class="btn_box">
                <button>
                  Book Now
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <div class="map_container ">
            <div id="googleMap"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end book section -->
{% endblock main %}